In [1]:
import pandas as pd

In [2]:
s = pd.Series([x for x in range(1, 11)])

In [3]:
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# query series element as much simeller to an array but only using .iloc or .iat

s.iloc[1]
s.iat[8]

9

In [6]:
# series also can be slice as list
s[5: 9]

5    6
6    7
7    8
8    9
dtype: int64

In [7]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

In [9]:
# you can use where to apply condtion
s.where(s%2 ==0)

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [10]:
# if the condition is false return message
s.where(s%2 ==0, 'Odd number')

0    Odd number
1             2
2    Odd number
3             4
4    Odd number
5             6
6    Odd number
7             8
8    Odd number
9            10
dtype: object

In [11]:
# same thing but you can add operation statement
s.where(s%2 == 0, s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [13]:
# `inplace=True` parameter in pandas is used to make changes in the original DataFrame itself without returning a new DataFrame.

s.where(s%2==0, inplace=True)

In [14]:
# dropna is drop Nan or null value from data frame
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [18]:
s.fillna('Filled value')

0    Filled value
1             2.0
2    Filled value
3             4.0
4    Filled value
5             6.0
6    Filled value
7             8.0
8    Filled value
9            10.0
dtype: object